body{
	background-color: #1170b9;
	background-image: url(../img/background.svg);
/*	Brackground creditos: https://www.heropatterns.com/;
*/
}

.botao{
	background-color: #E7A19F;
	border: #E7A19F;
}

.botao:hover{
	background-color: #0863BE;
	border: #0863BE;
}

#titulo{
	text-align: center;
}